    
        <%- include('seo'); %> 
    
        <div class="div-reprent">
          
         <%- include('header'); %>

        <div class="div-img-p">
            <div class="div-h-1">
                
                <h1 class="h-1">Empresa de Limpieza Latina Profecional en Filadelfia</h1>
                
                <h2 class="p-1">Nos encargamos de la Limpieza para que tu te encargues de tu negocio </h2>
                
                <div class="div-comment">  
                        
                        <a type="buttom" href="https://api.whatsapp.com/send?phone=2672665779"  class="btn-comment">LLama ahora</a>
                             
                      <a class="a-btn-email" href = "mailto:nivalperes2022@gmail.com">Correo</a>                              
                </div>
                
            </div>                
            <img class="img-title" src="img/tima-new-min.jpg"  alt="img-tima">
        </div>
        

        <div class="div-info-img">
            <div class="info-img">

            </div>
            <div class="flex-colum">
                <h1 class="h1-service">Servicios de Limpieza Profecional </h1>

                <div class="div-p-info" >
                    
                    <p class="p-service-pro">Brindamos servicios de limpieza general de alta calidad y profecional con los recursos requerido para que dejar su Hogar, Edificio, Oficina, Escuela,
                    Hospital etc. Impecable ya que Espacios limpios, mentes despejadas. Potencia tu creatividad con nuestros servicios de limpieza. </p>
                </div>
                
                <div class="div-li-info2">
                    <li class="li-emp">Restauración de pisos</li>  
                    <li class="li-act">Trapear pisos</li> 
                    <li class="li-cost">Limpieza y desinfección de baños</li>
                    <li class="li-e">Eliminación de basura</li>
                    <li class="li-l">Limpieza y desinfección de superficies</li>
                    <li class="li-d">Desempolvado y limpieza de persianas</li>
                    <li class="li-v">Limpieza de ventanas</li>
                    <li class="li-al">Limpieza y aspiración de alfombras</li>
                    <li class="li-vl">Limpieza del vestíbulo y de la oficina</li>
                    <li class="li-la">Limpieza de la sala de descanso</li>
                </div>
            </div>
        </div>
        
        <div class="div-info-img-3" >
           <img src="/img/get3.jpg" alt="img" class="info-img-3"> 
            <div class="flex-colum-3">
                <div class="comp-1">
                    <h1 class="h1-servicios-3">Porque Elegirnos</h1>
                    <span class="asw-1">Los Principales Motivos para confiar en nuestra Empresa Latina de Limpieza</span>
                </div>
                
                
                <div class="accordion m-4 div-media1" id="accordionExample">
                    <div class="accordion-item ">
                      <h2 class="accordion-header" id="heading">
                        <button class="accordion-button btn-g" type="button">
                         <h3 class="h3-e">ética</h3>
                        </button>
                      </h2>
                      <div id="collapse" class="accordion-collapse collapse show" aria-labelledby="heading" data-bs-parent="#accordionExample">
                        <div class="accordion-body d-e" >
                           Aplicamos valores de conocimiento, honradez y respeto por el cliente, primando incluso estos por encima de lo económico, porque somos una empresa justa que siempre busca el bienestar del cliente y tambien recibimos muchas recomendaciones que nos demuestran que vamos en un correcto camino de mejora contínua. 
                        </div>
                      </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading">
                          <button class="accordion-button btn-g2 mt-5" type="button">
                            <h3 class="h3-r"> Relaciones a Largo Plazo</h3>
                            

                          </button>
                        </h2>
                        <div id="collapse" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body d-r" >
                            Algunos de nuestros clientes trabajan con nosotros desde el día que fundamos Limpieza Magica, y otros desde que iniciaron la relación con nuestra Empresa.  Es una satisfacción atenderlos y ayudarlos en cada uno de nuestro proyecto que encaran.
                          </div>
                        </div>
                      </div> 
                      <div class="accordion-item ai">
                        <h2 class="accordion-header" id="heading">
                          <button class="accordion-button btn-g3 mt-5" type="button">

                            <h3 class="h3-g">Garantía de Éxito y Mejor precio garantizado</h3> 
                          </button>
                        </h2>
                        <div id="collapse" class="accordion-collapse collapse show" aria-labelledby="heading" data-bs-parent="#accordionExample">
                          <div class="accordion-body d-t" >
                            Trabajamos para brindarle las propuestas más adecuadas, comodas, correspondiente hacia el trabajo realizado y económicas de la Industria. 
                          </div>
                        </div>
                      </div>  
 

                  </div>
            </div>
        </div>        
        <div class="d-media">
        <div class="div-nowrap">
            
            <div class="div-h4-1">
                <h4 class="h4-1">Ofrecemos Distintas Soluciones Personalisada para su negocio.</h4>
                </div>
                <div class="div-article">
                    <article class="article">
                        <div class="flex-section">
                            

                                <section class="section">
                                    <img width="70px" height="70px" class="empresa" src="  img/kisspng-logo-building-business-sales-industry-5b37d5c7a413c5.2780173415303858636721.png" alt="Empresa">
                                    
                                <h2 class="h2-empresa">Empresa</h2>
                                <p class="p-2">Ofrecemos un servicio de limpieza integral, que cuenta con limpieza de alfombras, limpieza de ventanas, salas de espera y zonas de recepción, limpieza de todas las superficies, supervisión externa y un sistema de reemplazo de ausencias temporales de personal. </p>
                                
                                
                            </section>
                            
                            
                            <section class="section">
                                <img width="70px" height="70px" class="instituto" src="img/kisspng-building-high-school-escuela-clip-art-high-attendance-cliparts-5a8984e7490564.4220860815189618952991.png" alt="Institucion">
                                <h2 class="h2-institucion">Institucion Educativa</h2>
                                <p class="p-2">Tenemos nuestro propio sistema de limpieza adaptado para las nececidades de las instituciones educativa, por consiguiente esta es una de las principales razones por la cual los principales del sector cuentan con nuestros servicios.</p>
                                
                                
                            </section>
                            
                            
                            <section class="section">
                                
                                <img width="70px" height="70px" src="img/kisspng-bizkairoute-bikes-services-social-media-computer-5b23b0c75d4077.415310731529065671382.png" class="hospital" alt="hospitales">
                                <h2 class="h2-hospitales">Hospitales</h2>
                                <p class="p-2">disponemos de personal profecionales altamente capacitado para el trabajo correspondiente y con tomas de normas con protocolos a seguir, con 25 años de experiencia en limpieza de centros médicos y laboratorios avalan nuestros servicios. </p>
                                                                
                            </section>
                            
                            <section class="section">
                                
                                <img width="70px" height="70px" src="img/d07b977d4fa5aaa46f97135fc6786205.png" alt="especiales" class="Servisio-especiales">
                                <h2 class="h2-especiales">Servicios Especiales</h2>
                                <p class="p-2">Contamos con equipos especializado en limpieza de obra, limpieza y mantenimiento de alfombras, con mantenimientos integrales y con servicio clave y profecionales para condiciones óptimas de ser habitado.</p>
                                
                                
                            </section>
                        </div>
                        
                    </article>
                </div>

        </div>
        </div>
            <div class="div-info-2">

                <div class="div-bg-container">
                    <h1 class="h2-info">Empresa de Limpieza Latina en  Professional</h1>
                        <div class="div-p-info">
                            
                            <p class="p-info">Todos nuestros servicios son llevados a cabo por personal profesional y capacitado con más de 10 años de experiensia que cumplirá con sus más altas expectativas. Nuestros limpiadores están capacitados para proporcionar servicios adaptados a los requisitos individuales.</p>
                        </div>
                </div>
                    
                <div class="div-flex-2">
                    <div class="div-p-info-priority">
                        <h2 class="h2-hours">24 Horas</h2>
                        <div class="div-img-relog">

                            <img src="/img/relog.png"  class="relog"  alt="24 hoours booking img">
                        </div>
                        <p class="p-hours">Nuestros servicio es de 24 hora siempre estamos disponibles y atentos a las solicitudes deceadas.</p>
                    </div>

                    <div class="div-p-info-priority-2">                        
                        <h2 class="h2-all">Todo Filadelfia</h2>
                        <img src="/img/philadelphia.png" class="phila" alt="all over dubai img">
                        <p class="p-all">Estamos en toda la ciudad de filadelfia ya que contamos con personal en distintos lugares de filadelfia.</p>
                    </div>

                    <div class="div-p-info-priority-3">
                        <h2 class="h2-week">7 DÍAS A LA SEMANA</h2>
                        <img src="/img/7-week.png" class="week" alt="7 days a week">
                        <p class="p-week">Abarcamos los 7 días a la semana con los servicios y puntualidad al instante. </p>
                    </div>



                </div>
            </div>

                <div class="contact">
                    <div class="div-form">

                        <form class="form" action="/message" method="post">
                            <div class="border-form">
                                <h5 class="question">¿Tiene alguna Pregunta?</h5>
                                <div class="div-name">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input class="form-control w-100 mb-3" type="text" name="name" id="#name" placeholder="Nombre" name="name">
                                    <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.name!='undefined' )? errors.name.msg:''%></p>
                                </div>
                                <div class="div-email">
                                    <label for="email" class="form-label ">Gmail</label>
                                    <input class="form-control w-100 mb-3" type="email" placeholder="Gmail" id="email" name="email">
                                    <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.email!='undefined' )? errors.email.msg:''%></p>
                                </div>
                                <div class="div-zip">
                                    <label for="zip" class="form-label  ">Codigo Postal</label>
                                    <input class="form-control w-100 mb-3"  type="number" name="zip" id="zip" placeholder="Codigo Postal" >
                                    <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.zip!='undefined' )? errors.zip.msg:''%></p>
                                </div>
                                
                                <div class="div-message">
                                    <label for="message" class=" form-label">Mensage</label>
                                    <textarea style="resize: none;" name="message" id="message"  class="form-control w-100" cols="0" rows="0" placeholder="Mensaje"></textarea>
                                </div>

                                <div class="div-btn">
                                    <button  class="btn btn-primary btn-send" type="submit"> Enviar </button>

                                </div>
                            </div>
                        </form>

                    </div>

                </div>

              <%- include('footer'); %>
              